In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
444,tt1415283,35000000,93246388,Nanny McPhee and the Big Bang,Emma Thompson|Ralph Fiennes|Maggie Gyllenhaal|...,Susanna White,You'll Believe That Pigs Can Fly!,Nanny McPhee appears at the door of a harried ...,109,Fantasy|Comedy,Universal Pictures|Three Strange Angels|Studio...,3/26/2010,6.0,2010
1675,tt0465234,130000000,457363168,National Treasure: Book of Secrets,Nicolas Cage|Jon Voight|Harvey Keitel|Ed Harri...,Jon Turteltaub,The Greatest Adventure History Has Ever Revealed,Benjamin Franklin Gates and Dr. Abigail Chase ...,124,Action|Adventure|Mystery|Thriller,Jerry Bruckheimer Films|Saturn Films|Walt Disn...,12/13/2007,6.0,2007
1778,tt0386032,9000000,24538513,Sicko,Michael Moore|George W. Bush|Bill Clinton|Hill...,Michael Moore,This might hurt a little.,Sicko is a Michael Moore documentary about the...,123,Documentary,The Weinstein Company,5/18/2007,7.0,2007
1658,tt0297284,27000000,21148829,Mindhunters,LL Cool J|Jonny Lee Miller|Kathryn Morris|Patr...,Renny Harlin,"For seven elite profilers, finding a serial ki...",Trainees in the FBI's psychological profiling ...,106,Mystery|Thriller|Crime,Avenue Pictures Productions|Weed Road Pictures...,5/7/2004,6.3,2004

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [7]:
answers = {} 

#Прибыль фильма:
def profit(rev, bud):

    prof = rev - bud
    return prof

# 1. У какого фильма из списка самый большой бюджет?

In [16]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [17]:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [18]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [19]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [20]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [21]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [22]:
answers['4'] = '2. 110'

In [23]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [24]:
answers['5'] = '1. 107'

In [25]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [26]:
answers['6'] = '5. Avatar (tt0499549)'

In [86]:
data['profit'] = profit(data.revenue, data.budget) 
#используем функцию profit для подсчета профита от фильма и создаем новую колонку 'profit' со значениями прибыли
data.sort_values('profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,words,overview_words,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,6,175,2544505847

# 7. Какой фильм самый убыточный?

In [28]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [29]:
data['profit'] = profit(data.revenue, data.budget)
data.sort_values('profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,words,overview_words,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,15,386,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [30]:
answers['8'] = '1. 1478'

In [31]:
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [32]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [33]:
data[(data.release_year==2008)].sort_values('profit', ascending=False).head(1) 
#фильтруем фильмы по году выпуска 2008 и сортируем по колонке 'profit'. Выводим только первую строчку.

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,words,overview_words,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,15,396,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [34]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [35]:
data[(data.release_year>=2012)&(data.release_year<=2014)].sort_values('profit').head(1)
#фильтруем фильмы по году выпуска с 2012 по 2014 включительно и сортируем по колонке 'profit' по возрастанию. 
#Выводим только первую строчку.

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,words,overview_words,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,15,386,-165710090

# 11. Какого жанра фильмов больше всего?

In [36]:
answers['11'] = '3. Drama'

In [37]:
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().idxmax()
#Серию из ячейки 'genres' разрезаем на значения с разделителем '|' и считаем количество каждого значения. 
#Выводим индекс максимального значения на экран.

'Drama'

ВАРИАНТ 2

In [38]:
pd.Series([x.split('|') for x in data['genres']]).explode().value_counts().idxmax()
#с помошью перебора значений в строке с раделителем '|' создаем серию черех функцию sxplode() 
#и считаем количество каждого значения

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [39]:
answers['12'] = '1. Drama'

In [40]:
profit_films = data[data.profit > 0]
#записываем только прибыльные фильмы в новый DataFrame profit_films
pd.Series(profit_films['genres'].str.cat(sep='|').split('|')).value_counts().idxmax()
#делаем сортировку и подсчет как в 11 задании.

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [41]:
answers['13'] = '5. Peter Jackson'

In [90]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).idxmax()
#делаем группировку значений по столбцам 'director' и суммы значений 'revenue'.
#сортируем значения по убыванию и выводим индекс максимального значения.

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [45]:
answers['14'] = '3. Robert Rodriguez'

In [91]:
db_action = data.loc[data['genres'].str.contains('Action', na = False)]
#создаем отдельный DataFrame, записывая в нее строки, в ячейке 'geners' которых находится жанр 'Action'
pd.Series(db_action['director'].str.cat(sep='|').split('|')).value_counts().idxmax()
#по аналогии с заданием 11 считаем максимальное количество одинаковых знчений в столбце 'director'

'Robert Rodriguez'

In [92]:
db_action = data[data.genres.str.contains("Action", na=False)]
#второй способ создания нового DataFrame со значениями 'Action' в строке
db_action['director'].str.split('|',expand=True).stack().value_counts().idxmax()
#многоуровненвая разбивка значений с помощью stack() и подсчет одинкаовых значений. Выводим индекс максимального значения.

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [48]:
answers['15'] = '3. Chris Hemsworth'

In [93]:
db_cast = pd.Series(data['cast'].str.cat(sep='|').split('|')).value_counts()
#записываем в переменную db_cast серию с именами актеров, разделенных на элементы с разделителем '|' 
for i in db_cast.index:
    db_cast[i] = data['revenue'][data['release_year']==2012][data['cast'].map(lambda x: True if i in x else False)].sum()
#поэлементно извлекаем значения из db_cast и с помощью lambda проверяем наличие имени в строке 
#и суммируем 'revenue' к каждому имени.
db_cast.sort_values(ascending = False).idxmax()

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [50]:
answers['16'] = '3. Matt Damon'

In [94]:
db_cast = pd.Series(data['cast'].str.cat(sep='|').split('|')).value_counts()
#по аналогии с 15м заданием
for i in db_cast.index:
    db_cast[i] = data['imdb_id'][data['budget']>data['budget'].mean()][data['cast'].map(lambda x: True if i in x else False)].count()
#по аналогии с 15м заданием, делаем подсчет совпадений по именам, для подсчета кол-ва фильмов используем 'imdb_id'
db_cast.sort_values(ascending = False).idxmax()

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [52]:
answers['17'] = '2. Action'

In [95]:
db_Nicolas = data.loc[data['cast'].str.contains('Nicolas Cage', na = False)]
#создаем новый DF со строками, содержащими значение 'Nicolas Cage' в столбце 'cast'
pd.Series(db_Nicolas['genres'].str.cat(sep='|').split('|')).value_counts().idxmax()
#В серии 'genres' считаем количество совпадений по жанрам

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [54]:
answers['18'] = '1. K-19: The Widowmaker'

In [96]:
data['profit'] = profit(data.revenue, data.budget)
#по аналогии с заданием 6, создаем новую колонку 'profit', через функцию profit
db_Paramaunt = data.loc[data['production_companies'].str.contains('Paramount Pictures', na = False)]
#создаем новый DF со строками, содержащими значение 'Paramount Pictures' в столбце 'production_companies'
db_Paramaunt.sort_values('profit').original_title.head(1)
#сортируем по возрастанию колонки 'profit' и выводим первую строку

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [56]:
answers['19'] = '5. 2015'

In [97]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).idxmax()
#группируем по столбцам 'release_year' и 'revenue', подсчитывая сумму значений 'revenue' и выводим индекс максимального значения

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [58]:
answers['20'] = '1. 2014'

In [59]:
data['profit'] = profit(data.revenue, data.budget)
#по аналогии с заданием 6, создаем новую колонку 'profit', через функцию profit
db_Warner = data[data.production_companies.str.contains('Warner Bros')]
#создаем новый DF со строками, содержащими значение 'Warner Bros' в столбце 'production_companies'
db_Warner.groupby(by = 'release_year').profit.sum().sort_values(ascending=False).idxmax()
#группируем по столбцу 'realese_year', считаем сумму столбца 'profit' для каждого года. Выводим индекс максимального значения.

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [60]:
answers['21'] = '4. Сентябрь'

In [98]:
data['release_date'] = pd.to_datetime(data['release_date'])
#приводим значения столбца 'release_date' к формату дата-времени
data.release_date.dt.month.value_counts().idxmax()
#суммируем количество совпадений по значению месяца из столбца 'realese_date'

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [62]:
answers['22'] = '2. 450'

In [99]:
data['release_date'] = pd.to_datetime(data['release_date'])
#приводим значения столбца 'release_date' к формату дата-времени
df = data.release_date.dt.month.value_counts()
df[6]+df[7]+df[8]
#создаем новый DF со значениями суммы совпадений по месяцам с индексами равными месяцу
#извиняюсь за костыль в итоговом решении, не понял как провести подсчет более элегантно..)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [64]:
answers['23'] = '5. Peter Jackson'

In [101]:
data = pd.read_csv('movie_bd_v5.csv')
db_winter = data[data.release_date.str.match('12\D|1\D|2\D', na = False)]
#создаем новый DF со строками, содержащими значения зимних месяцев в столбце 'release_date'
pd.Series(db_winter['director'].str.cat(sep='|').split('|')).value_counts().idxmax()
#В серии, содержайщей значения столбца 'director', подсчитываем число совпадений по именам режиссеров.
#Выводим индекс максимального значения.

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [75]:
answers['24'] = '2. Warner Bros'

In [102]:
data['words'] = data['original_title'].map(lambda x: len(x))
#создаем новый столбец 'words' где подсчитываем количество символов в ячейке 'original_title' каждой строки.
db_words = pd.Series(data['production_companies'].str.cat(sep='|').split('|')).value_counts()
#Записываем в переменную db_words имена всех студий из колонки 'production_companies'
for i in db_words.index:
    db_words[i] = data['words'][data['production_companies'].map(lambda x: True if i in x else False)].sum()
# по аналогии с 15м заданием, поэлементно извлекаем значения из db_words и с помощью lambda проверяем наличие названии студий 
#в строке и суммируем количество букв в описании у каждой студии.
db_words.sort_values(ascending = False).idxmax()

'Warner Bros.'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [77]:
answers['25'] = '3. Midnight Picture Show'

In [78]:
data['overview_words'] = data['overview'].map(lambda x: len(x))
db_overv = pd.Series(data['production_companies'].str.cat(sep='|').split('|')).value_counts()
for i in db_overv.index:
    db_overv[i] = data['overview_words'][data['production_companies'].map(lambda x: True if i in x else False)].mean()
db_overv.sort_values(ascending = False).idxmax()
#задача решена по аналогии с заданием 24.

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [79]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [80]:
data[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']][['imdb_id', 'original_title', 'vote_average']]
#используем метод quantile для выделения квантиля 0.99 из столбца 'vote_average' 
#и выводим только те фильмы, у которых рейтинг выше этого значения.

        imdb_id                                 original_title  vote_average
9     tt2096673                                     Inside Out           8.0
34    tt3170832                                           Room           8.0
118   tt0816692                                   Interstellar           8.0
119   tt2015381                        Guardians of the Galaxy           7.9
125   tt2084970                             The Imitation Game           8.0
128   tt2267998                                      Gone Girl           7.9
138   tt2278388                       The Grand Budapest Hotel           7.9
370   tt1375666                                      Inception           7.9
599   tt0468569                                The Dark Knight           8.1
872   tt0253474                                    The Pianist           7.9
1081  tt0167260  The Lord of the Rings: The Return of the King           7.9
1183  tt0993846                        The Wolf of Wall Street           7.9
1191  tt2024544                               12 Years a Slave           7.9
1800  tt0209144                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [81]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [103]:
from itertools import combinations
#подключаем библиотеку itertools и итератор combinations для создания комбинаций
db_actors = data.cast.str.split('|').tolist()
#создаем список из значений столбца 'cast'
actors_pairs=[]
#создаем пустой список для записи пар актеров
for i in db_actors:
    for j in combinations(i, 2):
        actors_pairs.append(' '.join(sorted(j)))
#создаем пары из значений каждого подсписка в списке db_actors и записываем в список actors_pairs
actors_pairs = pd.DataFrame(actors_pairs)
#преобразуем список в DataFrame
actors_pairs.columns = ['actors_pair']
#присваиваем значение столбцу
actors_pairs.actors_pair.value_counts().head(10)
#считаем совпадения по значениям и выводим по убыванию первые 10 значений

Emma Watson Rupert Grint            8
Daniel Radcliffe Rupert Grint       8
Daniel Radcliffe Emma Watson        8
Ben Stiller Owen Wilson             6
Helena Bonham Carter Johnny Depp    6
Kristen Stewart Taylor Lautner      5
Hugh Jackman Ian McKellen           5
Adam Sandler Kevin James            5
Paul Walker Vin Diesel              5
Robert Pattinson Taylor Lautner     5
Name: actors_pair, dtype: int64

# Submission

In [104]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'24': '2. Warner Bros',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [84]:
# и убедиться что ни чего не пропустил)
len(answers)

27